name: Build Resource Pack

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create ZIP file
        run: |
          zip -r rp.zip . -x ".git/*" ".github/*"

      - name: Generate SHA1 hash
        id: sha
        run: |
          echo "SHA1=$(sha1sum rp.zip | awk '{print $1}')" >> $GITHUB_ENV

      - name: Create Release
        id: release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: rp-${{ github.run_number }}
          name: Resource Pack Build ${{ github.run_number }}
          body: "SHA1: ${{ env.SHA1 }}"
          files: rp.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
